.pop-up {
  z-index: 1000;
  padding: 2rem 5rem;
  position: fixed;
  top: 15rem;
  left: 15rem;

  text-align: center;
  background-color: $primary-black2;
  border-radius: 1rem;
  outline: 1px solid $primary-white2;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $primary-red;
  font-family: $font-serif;
  @include font(2rem, 2rem, 500);
  letter-spacing: 0.06em;
  opacity: 0;

  animation: in ease-in-out 2s;
}

@keyframes in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
