.registration-section {
  background-color: $primary-red;

  display: flex;
  justify-content: center;

  flex: 1 0 auto;
}

.container {
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: $primary-red;
}
