.cards {
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 5rem;

  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 10rem;

  @include maxQ(large) {
    grid-template-columns: repeat(2, min-content);
  }

  @include maxQ(small) {
    grid-template-columns: 1fr;
  }
}
